<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h1>Touchdown</h1>

Ever think about getting off of your ass and doing something in the real world?

Something crazy?

Well here it is.

<a href="{%url new_game%}">Start a new game</a>

</body>
</html>
