<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script language="javascript" src="http://openlayers.org/api/2.6/OpenLayers.js"></script>
<title>Create a new Touchdown game</title>
</head>

<body>
<h1>Create a new Touchdown game</h1>
<form enctype="multipart/form-data" action="" method="post">

<table>
{{form.as_table}}
</table>

<input type="submit" value="Start new game"/>
</form>

</body>
</html>
